<h1><center>Bulk Discounts for: <%=@merchant.name%></center></h1>
<%@merchant.bulk_discounts.each do |bulk|%>
  <div id = "discount-list-<%=bulk.id%>">
  <ul><h3>Percentage Discount: <%= bulk.discount%>%</h3></ul>
  <ul>Merchant must purchase at least <%= bulk.quantity_threshold%> items to use discount.</ul>
  <%=button_to "Delete Discount", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk.id}", method: :delete %>
</div>
<%end%>



<%= button_to 'Create a New Discount', new_merchant_bulk_discount_path(@merchant), method: :get %>