<h2><center>Bulk Discounts for <%=@merchant.name%></center></h2>
<hr>
<%= button_to 'Create a New Discount', new_merchant_bulk_discount_path(@merchant), method: :get %>
<br><br><br>
<%@merchant.bulk_discounts.each do |bulk|%>
  <div id = "discount-list-<%=bulk.id%>">
  <ul><h3><%=link_to "Percentage Discount: #{bulk.discount}%", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk.id}", method: :get %></h3></ul>
  <ul>Merchant must purchase at least <%= bulk.quantity_threshold%> items to use discount.</ul>
  <%=button_to "Delete Discount", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk.id}", method: :delete %>
</div>
<%end%>

<hr>
<h3><strong>Upcoming Holidays</strong></h3>

<%holiday = HolidaySearch.new.holiday_info.take(3)%>
<%holiday.each do |holiday|%>
  <p><h4><%=holiday.name %></h4></p>
  <p><strong>Date:</strong> <%=holiday.date %></p>

<%end%>




